img {
  width: 10%;
  height: 10%;
  display: flex;
  margin: 0 auto;
}

#input {
  text-align: center;
}

#container {
  display: flex;
}

person {
  border: 1px solid grey;
  width: 30%;
  flex-grow: 1;
}

header {
  text-align: center;
}

section {
  text-align: justify;
  padding: 0 10px;
}

footer {
  text-align: center;
}